body {
    background-color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.cantainer {
    background-color: #666;
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.gambar-kecil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

a:hover {
    color: black;
}